<div id = "main" class= "col-lg-12">
  <h1 class="text-right site-heading">Products</h1>

    <div class="product_area">
      <% @products.each do |product| %>
        
        <div class="grid-item">    
            <%=link_to(front_site_product_detail_path(params[:id],product)) do%>   
              <div><%= image_tag product.image %></div>
              <div class="product_area_title"><%= product.title %></div>
            <% end %>
        </div>
        
      <% end %>
        
    </div>

  
  
  <h1 class="text-right site-heading">Tags</h1>
    <div class="tag_area">
      <% @tags.each do |tag| %>

            <%=link_to tag.name, front_site_tag_path(params[:id],tag.name), { :class=>"grid-item badge badge-pill badge-info" }%>

      <% end %>   
    </div>
  
    <div class="pagination_area">
      <%= will_paginate(@products, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    </div>
  </div>

