<div id = "main" class= "col-lg-12">
  <h1>サイト管理</h1>

  <% if flash[:notice] %>
    <p id="notice" class="pop_up">
      <%= flash[:notice] %>
    </p>
  <% end %>
   
  <% if flash[:alert] %>  
    <p id="alert" class="pop_up">
      <%= flash[:alert] %>
    </p>    
  <% end %>
    
  <table>
    <% @user.sites.each do |site| %>
      <tr>
        <td class="admin_site_name"><%= site.name %></td>
        <td><%= link_to '詳細', admin_site_path(site), {class:"btn btn-outline-primary"} %></td>
        <td><%= link_to '変更', edit_admin_site_path(site), {class:"btn btn-outline-success"} %></td>
        <td><%= link_to '削除', admin_site_path(site),
                method: :delete,
                data: { confirm: 'サイトを削除してもよろしいでしょうか？' }, 
                class:"btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to "サイト登録",  new_admin_site_path,{class:"btn btn-primary"} %><br> 

</div> 