<h1 class="admin_header">サイト登録</h1>

<%= form_for @site, :url => admin_sites_path, :method => :post do |a| %>
    <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= @site.errors.count %>
        エラーで保存出来ませんでした。ご確認ください。
      </h2>
      <ul>
        <% @site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= a.label :name,"サイト名" %><br>
    <%= a.text_field :name %>
  </p>
  
  <p>
    <%= a.label :site_url,"サイトURL" %><br>
    <%= a.text_field :site_url %>
  </p>
   <p>
    <%= a.label :explanation, "サイト説明" %><br>
    <%= a.text_field :explanation %>
  </p>
  
  <p>
    <%= a.label :image %><br>
    <%= a.file_field :image %> 
  </p>
  
  <p>
  <div>
    <%= a.radio_button :active, true %>  
    <%= a.label :active, "アクティブ", :value => true %>
    
  </div>
  <div>
    <%= a.radio_button :active, false %>  
    <%= a.label :active, "非アクティブ", :value => false %>
    
  </div>  
  <p>
    <%= a.submit %>
  </p>

<% end %>