<div id = "main" class= "col-lg-12">
    
  <h1>Search: <%= @tag.name %> </h1>
  <% if @products %> 
    <p>下記の商品当たりました。</p>
  <% end %>
    
  <% if flash[:notice] %>
    <p id="notice" class="pop_up">
      <%= flash[:notice] %>
    </p>
  <% end %>
   
  <% if flash[:alert] %>  
    <p id="alert" class="pop_up">
      <%= flash[:alert] %>
    </p>    
  <% end %>
    
  <% if @products %>   
      <div class="product_area">
      <% @products.each do |product| %>
        
        <div class="grid-item">
              <div><%= image_tag product.image %></div>
              <div class="product_area_title">
                <%=link_to product.title,site_product_path(params[:site_id],product)%>
              </div>
        </div>    
      <% end %>
        
    </div>
  
    
     <div class="pagination_area">
      <%= will_paginate(@products, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    </div>
    
  <% end %>  
    
</div>

