<div id = "main" class= "col-lg-12">
    <div class="main_product_area">
      <div class="detail_left">
        <p>
        <%= image_tag @product.image.url %>
        </p>  
      </div>

      <div class="detail_right">
        <h1><%= @product.title %></h1>
        <p>
         <strong>Amazonリンク:</strong>
         <br>
         <a href="https://www.amazon.co.jp/dp/<%= @product.amazon_id %>/">詳細へ</a>
       </p>

       <p>
         <strong>価格:</strong>
         <br>
         <%= @product.price %>円
       </p>

       <p>
         <strong>説明:</strong>
         <br>
         <span id="description_span"><%= @product.description %></span>
       </p>  
      </div
    </div>
  
 

  </div>
</div>